.slider__dots {
	display: flex;
	justify-content: center;
	align-items: center;

	position: relative;
	z-index: 2;
}

.dots__item {
	background: $white;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	margin-right: 15px;

	cursor: pointer;

	&--modal {
		background: $gray;

		width: 8px;
		height: 8px;
	}

	&:last-child {
		margin-right: 0;
	}

	&.active {
		width: 10px;
		height: 10px;
		background: none;
		border: 2px solid $white;
	}

	&--modal.active {
		width: 12px;
		height: 12px;
		border: 2px solid $gray;
	}
}