@charset "UTF-8";

@font-face {
  font-family: sf-ui;
  src: url(~@/assets/fonts/sf-ui-display-medium.woff) format("woff");
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: sf-ui;
  src: url(~@/assets/fonts/sf-ui-display-semibold.woff) format("woff");
  font-weight: 600;
  font-style: normal
}

@font-face {
  font-family: sf-ui;
  src: url(~@/assets/fonts/sf-ui-display-bold.woff) format("woff");
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: sf-ui;
  src: url(~@/assets/fonts/sf-ui-display-black.woff) format("woff");
  font-weight: 900;
  font-style: normal
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, 
html {
  height: 100%;
}

a {text-decoration: none;}

